* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
  color: white;
}


.container {
  height: 100vh;
  max-width: 100%;
  background-color: #001C30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}



#particles {
  height: 90%;
  width: 100%;
  background-color: #001C30
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
  transition: 0.5s;
}

.header:hover::before {
  left: 100%;
}

.logo {
  color: #f8fafa;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  text-shadow: 2px 1px 3px #001C30;
}

.navbar a {
  color: rgb(254, 250, 251);
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
  text-shadow: 2px 1px 3px #001C30;
}

.navbar a:hover {
  color: rgb(250, 252, 253);
}

#menu-icon {
  /* font-size: 36px; */
  color: #fff;
  display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }

  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.268);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }

  .nav-bg.active {
    display: block;
  }
}


.main-heading {
  font-size: 170px;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}

.intro-detail {
  text-align: center;
  text-justify: inter-word;
}

.my-button {
  margin-top: 40px;
  /* margin-left: 10%; */
  background-color: #00c2b5;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

/* Style the button on hover */
.my-button:hover {
  background-color: #00aea3;
}


.about {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.about-section {
  width: 60%;
  padding: 40px;
  /* flex: 1; */

}

.about-heading,
.about-detail {
  text-justify: inter-word;
  margin-bottom: 10px;
  text-align: justify;
}

/* .about-model{
  width: 30%;
  position: absolute;
  right: 7%;
  flex: 1;
}

model-viewer{
  width: 300px;
  height: 300px;
} */


.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 30px;
  padding: 10px;
}

.about-intro {
  flex: 1;
  padding-right: 20px;
}

.about-intro h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-intro p {
  font-size: 16px;
  color: #555;
}

.about-image {
  flex: 1;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}


.about-container {
  background-color: #f5f2f218;
  color: #0a0000;
  padding: 20px;
  border-radius: 10px;
}

.about-content {
  display: flex;
  align-items: center;
}

.about-image {
  margin-right: 20px;
}

.about-image img {
  width: 400px;
  border-radius: 50%;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 65px;
  margin-bottom: 10px;
  font-weight: 600;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
}


.container-fluid{
  /* margin: 30px; */
  padding: 50px
}

