* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
  color: white;
}


.container {
  height: 100vh;
  max-width: 100%;
  background-color: #001C30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}



#particles {
  height: 90%;
  width: 100%;
  background-color: #001C30
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
  transition: 0.5s;
}

.header:hover::before {
  left: 100%;
}

.logo {
  color: #f8fafa;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  text-shadow: 2px 1px 3px #001C30;
}

.navbar a {
  color: rgb(254, 250, 251);
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
  text-shadow: 2px 1px 3px #001C30;
}

.navbar a:hover {
  color: rgb(250, 252, 253);
}

#menu-icon {
  /* font-size: 36px; */
  color: #fff;
  display: none;
}

/* BREAKPOINTS */





.main-heading {
  font-size: 170px;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}

.intro-detail {
  text-align: center;
  text-justify: inter-word;
}

.my-button {
  margin-top: 40px;
  /* margin-left: 10%; */
  background-color: #00c2b5;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

/* Style the button on hover */
.my-button:hover {
  background-color: #00aea3;
}

.about-container{
 height: 800px;
  width: 100%;
}

.about-image {
  background-image: url("/img/aboutimg.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-color: rgba(0,0,0, 0.8);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.about-text {
  color: black;
  background-color: #b8cbca;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 155%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 25px;
  margin-left: 50%;
  text-align: justify;
}

.about-text>h2{
  margin-bottom: 3%;
  margin-top: 3%;
  color: white;
  font-weight: 600;
  text-align: center;
}

.serviceMain{
  padding: 30px;
  padding-bottom: 8%;
  height: fit-content;
}

.services{
  display: flex;
  flex-wrap: wrap;
 width: 90%;
 margin: auto;
}

.serviceMain>h2{
  color: white;  
  text-align: center;
  font-size: 42px;
  margin-bottom: 4%;
  margin-top: 2%;
  font-weight: 600;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
  margin: auto;
}

.flip-card-front>h5{
  margin-top: 5%;
  font-weight: 600;
  color: #fff;
}

.flip-card:nth-child(4){
  margin-top: 8%;
  margin-left: 17%;
  /* border: 2px solid red; */
}

.flip-card:nth-child(5){
  margin-top: 8%;
  margin-right:17%;
  /* border: 2px solid red; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #c7fbf8;
  color: #02645d;
  transform: rotateY(180deg);
}

.flip-card-back>p{
  text-align: justify;
  padding: 4%;
}

.flip-card-back>button{
 border-radius: 6px;
  padding: 2% 4%;
  border: 2px solid #00aea3;
  background-color:#fff ;
}

.flip-card-back>button:hover{
  color: #fff;
  background-color: #00aea3;
 }

/* our team */

.ourteam{
  height: 600px;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 80%;
  background-color: #fff;
}
.ourteam>h2{
  margin-top: 1%;
  font-size: 36px;
  font-weight: 800;
  color: #00c2b5;
}
.ourteam>h6{
  padding-top: 4%;
}

.teamcontent{
  margin-left: 4%;
  width: 35%;
  margin-top: 1%;
}

.teamcontainer{
  background-color: rgb(234, 232, 232);
  height: 700px;
}

.undescoreLine {
  width: 30%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.undescoreLine > div {
  border: 2px solid #00c2b5;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.undescoreLine > span {
  width: 45%;
  height: 2px;
  background-color: #00c2b5;
}

.teamcontent hr{
  width: 25%;
  margin: auto;
  border: 2px solid #00c2b5;
}

.teamcontent h3{
  font-weight: 600;
}

.teamcontent h4{
  margin-top: 3%;
}

.teamimg{
  margin-top: 1%;
  margin-left: 8.5%;

  border-right: 2px solid #00c2b5;
}

.teamprev{
  color: #001C30;
}

.teamicon>a{
  color: inherit;
}


/* contactus */

.getstarted{
  background-image: url('/img/contactbg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 300px;
  width: 100%;

}

.getstarted>h2{
 width: 60%;
 text-align: center;
 padding-top: 8%;
 margin-left: 3%;
}

.contactusbtn{
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 1%;
  margin-left: 30%;
  background-color: transparent;
  border: 2px solid green;
}

.contactusbtn:hover{
  color: #fff;
  background-color: #02645d;
}

/* footer */

footer{
  width: 100%;
  margin-top: 5%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
  text-decoration: none;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #00c2b5;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #00c2b5;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #00c2b5;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #00c2b5;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #00c2b5;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #00c2b5;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}


/* who we are */
.containerWho{
  display: flex;
}

.whoimg{
  width: 40%;
  margin: auto;
  padding: 5%;
}

.whocontent{
  width: 50%;
  margin: auto;
  color: #fff;
}
.whobtn{
  padding: 6px 30px;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  display: flex;
  margin: auto;
  margin-top: 5%;
  background-color: #00c2b5;
}
.whobtn:hover{
  color: #000;
  background-color: #fff;
  border: 2px solid #00c2b5;
 
}
